* {
    margin: 0;
}

/* Cabeçalho */
.cabeçalho1 {
    background-color: rgb(100, 100, 104);
    padding: 10px 5px;
    border-bottom: 5px solid;
}

.logo1 {
    display: inline-block;
    margin-left: 20px;
    font-size: 50px;
}

.cabeçalho1 nav {
    float:right ;
} 

.cabeçalho1 nav li {
    display: inline-block;
    padding: 15px;
    font-size: 25px;
    padding-right: 50px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

p:first-child{
    color: red;
    background-color: #000;
}

p:last-child{
    color: blue;
    background-color: black;
}

p:not(.padrao){
    color: #fff;
    background-color: green;
}

p:nth-child(n+2){
    background-color: blueviolet;
}

.paragrafo::first-line {
    color: aqua;
    background-color: #000;
}

.paragrafo::first-letter {
    color: red;
    background-color: #fff;
}

li::marker {
    color: red;
}

h4::before {
    content: "";
    background: url(./Assets/Vader2.jpg) center center no-repeat;
    display: inline-block;
    width: 80px;
    height: 80px;
}

:root{
    --cor-1:blue;
    --fonte-1:50px;
}

h4{
    color: var(--cor-1);
    font-size: var(--fonte-1)
}

